<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <!-- Define the realm you want to use to connect to your back-end security datasource: -->

  <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean"/>

  <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <!-- Single realm app.  If you have multiple realms, use the 'realms' property instead. -->
    <property name="realm" ref="myRealm"/>
    <property name="cacheManager" ref="cacheManager"/>
    <property name="sessionManager" ref="sessionManager"/>
  </bean>

  <bean id="myRealm" class="org.apache.shiro.realm.text.IniRealm">
    <property name="resourcePath" value="classpath:shiro.ini"/>
  </bean>

  <bean id="cacheManager" class="org.apache.shiro.hazelcast.cache.HazelcastCacheManager"/>

  <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
    <property name="sessionDAO" ref="sessionDao"/>
    <property name="sessionValidationSchedulerEnabled" value="false"/>
  </bean>
  <bean id="sessionDao" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO"/>

  <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

  <bean id="listener" class="org.apache.shiro.config.event.LoggingBeanEventListener"/>


</beans>